@model proyectoGrupo_1.Entidades.Carrito

@{
    ViewBag.Title = "ConsultarCarrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center my-4">Carrito de Compras</h4>
<hr>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">

            @if (ViewBag.msj != null)
            {
                <div class="alert alert-info text-center" role="alert">
                    @ViewBag.msj
                </div>
            }

            <table id="tablaCarrito" class="table table-striped table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>SubTotal</th>
                        <th>Impuesto</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DatosCarrito)
                    {
                        <tr>
                            <td>@item.Descripcion</td>
                            <td>@item.Cantidades</td>
                            <td>¢@item.Precio.ToString("N2")</td>
                            <td>¢@item.SubTotal.Value.ToString("N2")</td>
                            <td>¢@item.Impuesto.Value.ToString("N2")</td>
                            <td>¢@item.Total.Value.ToString("N2")</td>

                            <td>
                                <button type="button" class="btn btn-danger btn-sm AbrirModal" data-toggle="modal" data-target="#ModalCarrito"
                                        data-id="@item.idProducto" data-name="@item.Descripcion">
                                    <i class="fa fa-trash"></i> Eliminar
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="row justify-content-between align-items-center mt-4">
                <div class="col-6 text-right">
                    @if (Session["Total"].ToString() != "0")
                    {
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#PagoModal">
                            Pagar
                        </button>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="ModalCarrito" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("EliminarProductoCarrito", "Carrito"))
            {
                <div class="modal-body text-center">
                    @Html.Hidden("idProducto", "")
                    <p>¿Deseas eliminar el producto <strong id="Nombre"></strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="PagoModal" tabindex="-1" aria-labelledby="pagoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pagoModalLabel">Confirmar Pago</h5>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas proceder con el pago de tu carrito?
            </div>
            <div class="modal-body">
                El monto a cancelar es de: ¢<b>@decimal.Parse(Session["Total"].ToString()).ToString("N2")</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                @using (Html.BeginForm("PagarCarrito", "Carrito"))
                {
                    <button type="submit" class="btn btn-success">Confirmar Pago</button>
                }

            </div>
        </div>
    </div>
</div>


<script src="~/root/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#tablaCarrito").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            columnDefs: [{ type: 'string', target: [0, 1, 2, 3, 4, 5] }]
        });
    });

    $(document).on("click", ".AbrirModal", function () {
        $("#idProducto").val($(this).attr('data-id'));
        $("#Nombre").text($(this).attr('data-name'));
    });
</script>
