@model proyectoGrupo_1.Entidades.Usuario

@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Home Page";
}

<style>
    .h-custom {
        height: calc(100% - 73px);
    }

    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .form-label {
        font-weight: bold;
    }

    .btn-custom {
        background-color: #007bff;
        color: white;
        padding: 0.5rem 1.5rem;
        border-radius: 50px; 
        transition: background-color 0.3s ease;
        font-size: 0.875rem; 
    }

        .btn-custom:hover {
            background-color: #0056b3;
        }

    .link-custom {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .link-custom:hover {
            color: #0056b3;
            text-decoration: underline;
        }

    .img-fluid {
        border-radius: 15px;
    }
</style>

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                @if (ViewBag.msj != null)
                {
                    <div class="alert alert-info text-center" role="alert">
                        @ViewBag.msj
                    </div>
                }
                @using (Html.BeginForm("IniciarSesion", "Login"))
                {
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">FotoPlus</p>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Correo Electrónico</label>
                        @Html.TextBoxFor(m => m.Correo, new { @type = "email", @class = "form-control", @placeholder = "Correo Electrónico" })
                    </div>

                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Contraseña</label>
                        @Html.TextBoxFor(m => m.Contrasenna, new { @type = "password", @class = "form-control", @placeholder = "Contraseña" })
                    </div>

                    <p class="mb-1">
                        <a href="@Url.Action("RecuperarAcceso", "Login")" class="link-custom">Recuperar Contraseña</a>
                    </p>

                    <div class="text-center text-lg-start mt-2 pt-2">
                        <button type="submit" class="btn btn-custom btn">
                            Iniciar Sesión
                        </button>
                        <p class="mt-3">
                            <a href="@Url.Action("Registrarse", "Login")" class="link-custom">Registrarse</a>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
