@model proyectoGrupo_1.Entidades.Usuario

@{
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
    ViewBag.Title = "Registro";
}

<div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header bg-primary text-white text-center">
        <h3 class="font-weight-light my-2">Registro</h3>
    </div>
    <div class="card-body">
        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info text-center">
                @ViewBag.msj
            </div>
        }

        @using (Html.BeginForm("Registrarse", "Login"))
        {
            <div class="form-floating mb-3">
                <label for="Cedula">Cédula</label>
                @Html.TextBoxFor(m => m.Cedula, new
                {
                    @type = "text",
                    @class = "form-control",
                    @placeholder = "Cedula",
                    onkeyup = "ConsultarIdentificacion();"
                })
                
            </div>
            <div class="form-floating mb-3">
                <label for="Nombre">Nombre</label>
                @Html.TextBoxFor(m => m.Nombre, new { @type = "text", @class = "form-control", @placeholder = "Nombre", @readOnly = true })
                
            </div>
            <div class="form-floating mb-3">
                <label for="Correo">Correo Electrónico</label>
                @Html.TextBoxFor(m => m.Correo, new { @type = "email", @class = "form-control", @placeholder = "Correo Electrónico" })
                
            </div>
            <div class="form-floating mb-3">
                <label for="Contrasenna">Contraseña</label>
                @Html.TextBoxFor(m => m.Contrasenna, new { @type = "password", @class = "form-control", @placeholder = "Contraseña" })
                
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">Procesar</button>
            </div>
        }

        <div class="text-center mt-3">
            <a href="@Url.Action("IniciarSesion","Login")" class="text-decoration-none">Iniciar Sesión</a>
        </div>
    </div>
</div>

<script src="~/root/funciones/Usuario.js"></script>
