@model List<proyectoGrupo_1.BaseDatos.tCategoria>

@{
    ViewBag.Title = "ConsultarCategorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<h4>Consulta de Categorias</h4>
<hr>
<br>
<a class="btn btn-primary mb-2" href="@Url.Action("RegistrarCategoria","Categoria")">
    Nuevo Categoria
</a>
<br />

<div class="row">
    <div class="col-12">

        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" role="alert" style="text-align:center">
                @ViewBag.msj
            </div>
        }

        <table id="tablaCategorias" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.idCategoria</td>
                        <td>@item.Nombre</td>
                        <td style="text-align:center">
                            <button type="button" id="AbrirModal" class="btn btn-primary" data-toggle="modal" data-target="#ModalCategoria"
                                    data-id="@item.idCategoria" data-name="@item.Nombre">
                                <i class="fa fa-share-square"></i>
                            </button>
                        </td>
                        <td style="text-align:center">
                            <a class="btn btn-primary" href="@Url.Action("EditarCategoria","Categoria", new { idCategoria = item.idCategoria })">
                            </a>
                            <i class="fa fa-pencil"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="ModalCategoria" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("EliminarCategoria", "Categoria"))
            {
                <div class="modal-body">
                    @Html.Hidden("idCategoria", "")
                    ¿Desea borrar la categoria? <label id="Nombre"></label>?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Procesar</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/root/plugins/jquery/jquery.min.js"></script>
<script>
    //$(document).ready(function () {
    //    $("#tablaCategorias").DataTable({
    //        language: {
    //            url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
    //        }
    //    });
    //})

    $(document).on("click", "#AbrirModal", function () {
        $("#idCategoria").val($(this).attr('data-id'));
        $("#Nombre").text($(this).attr('data-name'));
    });</script>


