@model proyectoGrupo_1.BaseDatos.tCategoria

@{
    ViewBag.Title = "Editar Categoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 600px;">
        <br>
        <h3 class="card-title text-center mb-4">Editar Categoría</h3>
        <div class="card-body">

            @if (ViewBag.msj != null)
            {
                <div class="alert alert-info text-center" role="alert">
                    @ViewBag.msj
                </div>
            }

            @using (Html.BeginForm("EditarCategoria", "Categoria", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.idCategoria)

                <div class="form-group mb-4">
                    @Html.LabelFor(m => m.Nombre, htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @placeholder = "Ingrese el nombre de la categoría" })
                    @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-xs">Actualizar</button>
            }

            <div class="text-center mt-3">
                <a href="@Url.Action("ConsultarCategorias", "Categoria")" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="~/root/plugins/jquery/jquery.min.js"></script>
<script src="~/root/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
